﻿<!-- Display list of employee  -->


@model IEnumerable<Task8.Models.employeerecord>

@{
    ViewData["Title"] = "Home Page";
}

<br>
<h2>Items List</h2> 

<br>
<h5><td>@Html.ActionLink("New Employee", "New", "Home")</h5>
<table class="table">

<tr>
<th>Id</th>
<th>First Name</th>
<th>Last Name</th>
<th>Job</th>
<th >Salary</th>
</tr>

@foreach(var item in Model)
{
<tr>  
  <td>@Html.DisplayFor(modelItem => item.id)</td>
  <td>@Html.DisplayFor(modelItem => item.firstname ) </td> 
  <td>@Html.DisplayFor(modelItem => item.lastname) </td>
      <td>@Html.DisplayFor(modelItem => item.job) </td> 
   <td>@Html.DisplayFor(modelItem => item.salary) </td> 
   <td>@Html.ActionLink("Update", "Update", "Home", new { id = @item.id }, null)</td> 
       <td>@Html.ActionLink("Delete", "Delete", "Home", new { id = @item.id }, null)</td> 
</tr>
}





</table>
