<!-- Add new employee Record -->


@model Task8.Models.employeerecord

<br>
<h2>Add New Item</h2>
<br><br>
@using (Html.BeginForm("New", "Home", FormMethod.Post, new { }))
    {
        <table>

            
                    <tr>
                    <td><label>First Name</label></td>
                 <td>   @Html.TextBoxFor(m => m.firstname)</td>
                
                </tr>

                    <tr>
                    <td><label>Last Name</label></td>
                 <td>   @Html.TextBoxFor(m => m.lastname)</td>
                
                </tr>


              <tr>
                 <td>   <label>Job</label></td>
               <td>     @Html.TextBoxFor(m => m.job)</td>
              
</tr>

               <tr>
                 <td>   <label>Salary</label></td>
                 <td>   @Html.TextBoxFor(m => m.salary)</td>
               
               </tr>
               
              

</table>

            <div>
                <input id="Submit" type="submit" class="btn btn-success"  value="save"/>
            </div>
 }
